<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mallard">
    <xacro:macro name="ballast" params="name mass xyz rpy">
        <link name="${name}">
            <visual >
                <origin rpy="${rpy}"/>
                <geometry>
                    <cylinder radius="0.05" length="0.01"/>
                </geometry>
                <material name="blue">
                    <color rgba="0.8 0.0 0.0 1.0"/>
                </material>
            </visual>
            <inertial>
                <mass value="${mass}"/>
                <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
            </inertial>
        </link>

        <joint name="${name}" type="fixed">
            <origin xyz="${xyz}"/>
            <parent link="base_link"/>
            <child link="${name}"/>
        </joint>

        <gazebo reference="${name}">
          <material>Gazebo/Blue</material>
      </gazebo>
    </xacro:macro>
</robot>