<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mallard">

    <xacro:property name="PI" value="3.1415926535897931"/>

    <xacro:macro name="lidar" params="parent lidar_name mass lidar_topic update_rate *origin">
        
        <joint name="${lidar_name}_joint" type="fixed">
            <xacro:insert_block name="origin"/>
            <parent link="${parent}" />
            <child link="${lidar_name}"/>
        </joint>

        <link name="${lidar_name}">
            <visual>
                <geometry>
                    <cylinder radius="0.025" length="0.04"/>
                </geometry>
                <material name="blue">
                    <color rgba="0.0 0.0 0.8 1.0"/>
                </material>
            </visual>

            <visual>
                <origin xyz="0 0 -0.044"/>
                <geometry>
                    <box size="0.06 0.061 0.048"/>
                </geometry>
                <material name="blue">
                    <color rgba="0.0 0.0 0.8 1.0"/>
                </material>
            </visual>

            <inertial>
                <mass value="${mass}"/>
                <inertia ixx="0.00020" ixy="0.0" ixz="0.0" iyy="0.00020" iyz="0.0" izz="0.00015"/>
            </inertial>

        </link>

        <gazebo reference="${lidar_name}">
            <material>Gazebo/Blue</material>
            <sensor type="ray" name="head_hokuyo_sensor">
                <pose>0 0 0 0 0 0</pose>
                <visualize>false</visualize>
                <update_rate>${update_rate}</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>800</samples>
                            <resolution>1</resolution>
                            <min_angle>${-3*PI/4}</min_angle>
                            <max_angle>${3*PI/4}</max_angle>
                        </horizontal>
                    </scan>
                  <range>
                      <min>0.05</min>
                      <max>25.0</max>
                      <resolution>0.01</resolution>
                  </range>
                  <noise>
                      <type>none</type>                 
                      <mean>0.0</mean>                  
                      <stddev>0.01</stddev>
                  </noise>
                </ray>

                <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
                    <robotNamespace>/</robotNamespace>
                    <alwaysOn>true</alwaysOn>
                    <update_rate>${update_rate}</update_rate>
                    <topicName>${lidar_topic}</topicName>
                    <!-- <frameName>${parent}</frameName>
                    <bodyName>${parent}</bodyName> -->
                    <frameName>${lidar_name}</frameName>
                    <bodyName>${lidar_name}</bodyName>
                </plugin>
            </sensor>
        </gazebo>
    </xacro:macro>

</robot>