<?xml version="1.0"?>
<launch>
    <!-- Get MALLARD_VERSION -->
    <arg name="ARG_MALLARD_VERSION" value="$(optenv MALLARD_VERSION 002a_REAL)" />
    <!-- Get MALLARD_AUTONOMOUS. 1: Autonomous Mode. 0: Manual Mode. -->
    <arg name="ARG_MALLARD_AUTONOMOUS" value="$(optenv MALLARD_AUTONOMOUS 0)" />
    <!-- for Robot model. URDF/xacro -->
    <arg name="model" default="$(find launch_config)/urdf/mallard_main_002a_REAL.xacro"/>

    <!-- cmd_vel to mavros commands -->
    <node pkg="control_nodes" type="cmd2mav.py" name="Cmd2mav" output="screen"/>

    <!-- APM -->
    <include file="$(find mavros)/launch/apm.launch"/>
    <!-- DVL -->
    
    <!-- IMU -->

    <!-- Robot model. URDF/xacro -->
    <group ns="mallard">
        <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>

        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

        <!-- send fake joint values. for non-fixed joints-->
        <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>
    </group>
    
    <!-- Autonomous Mode -->
    <group if="$(arg ARG_MALLARD_AUTONOMOUS)">
        <!-- Lidar -->
        <include file="$(find launch_config)/launch/sensor/sick_tim.launch"/>

        <!-- SLAM -->
        <include file="$(find launch_config)/launch/sensor/hector.launch"/>

        <!-- local planner -->
        <node pkg="mallard_autonomy" type="local_planner_cls.py" name="local_planner" output="screen"/>

        <!-- trajectory tracking conroller -->
        <node pkg="mallard_autonomy" type="traj_control.py" name="trajectory_control" output="screen">
            <rosparam file="$(find launch_config)/$(arg ARG_MALLARD_VERSION)/cfg/yaml/$(arg ARG_MALLARD_VERSION).yaml" command="load"/>
        </node>
    </group>
</launch>
